<div id="container">
    <header>
        <app-header></app-header>
    </header>
    <div id="container-nav-main">
        <nav id="nav" class="bgBrunoAdmin5">
            <app-navigation></app-navigation>
        </nav>
        <main id="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <app-list-user></app-list-user>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>