<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h4>Realizar Busqueda</h4>
        </div>
        <div class="card-body">
          <form action="">
              <div class="form-group">
                <input class="form-control" type="text" name="valueSearch" [(ngModel)]="valueSearch">          
              </div>
              <div class="from-group">
                <button class="btn btn-primary btn-block" (click)="requestSearch()">Buscar</button>
              </div>
            </form>
        </div>
      </div>   
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Usuarios:</h2>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Usuario</th>
                  <th>Email</th>
                  <th>Tipo de Usuario</th>
                  <th>Editar</th>
              </tr>
          </thead>
          <tbody *ngFor="let user of usersSearch">
            <tr>
                <td>{{user.id_user}}</td>
                <td>{{user.name}}</td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>{{user.type_user}}</td>
                <td><button class="btn btn-primary" (click)="editUser(user)">Editar</button></td>
            </tr>
         </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
