<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h4>Realizar Busqueda</h4>
        </div>
        <div class="card-body">
          <form action="">
              <div class="form-group">
                <input class="form-control" type="text" name="valueSearch" [(ngModel)]="valueSearch">          
              </div>
              <div class="from-group">
                <button class="btn btn-primary btn-block" (click)="requestSearch()">Buscar</button>
              </div>
            </form>
        </div>
      </div>   
    </div>
  </div>
</div>
